*.go linguist-language=Go linguist-detectable=true
*.py linguist-language=Python linguist-detectable=true
*.mjs linguist-language=JavaScript linguist-detectable=true
Makefile linguist-language=Makefile linguist-detectable=false
README.md linguist-documentation linguist-detectable=false
